name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install Flask pylint pytest
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
    - name: Enforce Score Threshold (>= 8.5)
      if: ${{ steps.pylint_check.outputs.score < 8.5 }}
      run: |
          echo "Pylint score of ${{ steps.pylint_check.outputs.score }} is below the required 8.5 threshold."
          # Explicitly exit with a non-zero code to fail the job
          exit 1
